<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/default}">
<head>
    <title>Admin</title>
    <link th:href="@{/css/admin.css}" rel="stylesheet" />
</head>
<body>

<section layout:fragment="content">
    <div class="row d-flex justify-content-between">
        <div class="col-auto">
            <h1 class="text-primary">Librarian Tools : Add Book</h1>
        </div>
    </div>
    <hr class="mt-0">
    <form action="#" th:action="@{/admin/add/book}" th:object="${bookDto}" method="post">
        <div th:replace="~{fragments/bookForm :: bookForm}"></div>
    </form>

    <script type="text/javascript" th:src="@{/js/admin.js}"></script>
</section>
</body>
</html>
