<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/default}">
<head>
    <title>Admin</title>

    <style>
        #pubYear::-webkit-inner-spin-button,
        #pubYear::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
        }

        #pubYear {
            appearance: textfield !important;
        }

        input:invalid {
            border: 2px red;
        }
    </style>
</head>
<body>

<section layout:fragment="content">
    <div class="row d-flex justify-content-between">
        <div class="col-auto">
            <h1 class="text-primary">Librarian Tools : Add Book</h1>
        </div>
    </div>
    <hr class="mt-0">
    <form action="#" th:action="@{/admin/add/book}" th:object="${bookDto}" method="post">
        <div th:replace="~{fragments/bookForm :: bookForm}"></div>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const container = document.getElementById('authors-container');
            const addBtn = document.getElementById('add-author-btn');

            addBtn.addEventListener('click', function() {
                const index = container.querySelectorAll('.author-field').length;
                const div = document.createElement('div');
                div.className = 'author-field';
                div.innerHTML = `
                    <input type="text"
                           class="form-control mt-2"
                           name="authors[${index}]"
                           placeholder="Lastname, Firstname"
                           required
                           pattern=".+,\\s*.+" maxlength="90" />
                    <button type="button" class="btn btn-dark mt-2 remove-author-btn">
                        Remove Author
                    </button>
                `;
                container.appendChild(div);
            });

            container.addEventListener('click', function(e) {
                if (e.target.classList.contains('remove-author-btn')) {
                    e.preventDefault();
                    e.target.parentElement.remove();

                    container.querySelectorAll('.author-field input').forEach((input, i) => {
                        input.setAttribute('name', `authors[${i}]`);
                    });
                }
            });
        });

        const pubYear = document.getElementById('pubYear');
        const currentYear = new Date().getFullYear();
        pubYear.addEventListener("input", (event) => {
            pubYear.setCustomValidity("");
            if (!pubYear.validity.valid) {
                return;
            }
            if (pubYear.value > currentYear) {
                pubYear.setCustomValidity("Year must not be in the future.");
            }
        });
    </script>


</section>

</body>
</html>
