<div th:fragment="carousel (bookList, carouselId)" xmlns:th="http://www.w3.org/1999/xhtml">

    <div th:id="${carouselId}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" th:each="book, iterStat : ${bookList}" th:classappend="${iterStat.first ? 'active' : ''}">
                <div th:replace="~{fragments/carouselCard :: carouselCard(book = ${book})}"></div>
            </div>
        </div>

<!--        <a class="carousel-control-prev" th:data-bs-target="'#' + ${carouselId}" role="button" data-bs-slide="prev">-->
<!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--            <span class="visually-hidden">Previous</span>-->
<!--        </a>-->

        <a class="carousel-control-next" th:data-bs-target="'#' + ${carouselId}" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

</div>