<div th:fragment="carousel (bookList, carouselId)" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:id="${carouselId}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" th:each="book, iterStat : ${bookList}" th:classappend="${iterStat.first ? 'active' : ''}">

                <div class="card h-100 flex-fill border-2 border-white bg-dark text-white">
                    <div class="row g-0 h-100">
                        <div class="col-4 col-md-3 bg-light border-end border-1">
                            <img th:src="${book.image != null} ? @{~/uploads/images/{path}(path=${book.image})} : @{/images/PlaceholderCover.png}"
                                 class="object-fit-cover w-100 h-100" loading="lazy">
                        </div>
                        <div class="col d-flex flex-column">
                            <div class="card-body d-flex flex-column">
                                <a th:href="@{/browse/{id}(id=${book.id})}">
                                    <h5 class="card-title text-white" th:text="${book.title}"></h5>
                                </a>
                                <p class="card-text text-secondary">
                                    <span th:text="${book.series}"></span>
                                    &nbsp;
                                </p>
                                <p class="card-text text-secondary">
                                    by <b th:text="${book.authors[0].firstName} + ' ' + ${book.authors[0].lastName}"></b>
                                </p>
                                <p class="card-text mt-auto">
                                    <b th:text="${book.category.getLabel()}" class="text-secondary"></b>
                                    <b class="mx-1">•</b>
                                    <b th:text="${book.genre.getLabel()}" class="text-secondary"></b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <a class="carousel-control-prev" th:data-bs-target="'#' + ${carouselId}" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>

        <a class="carousel-control-next" th:data-bs-target="'#' + ${carouselId}" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>