<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/default}">
<head>
    <title>Blocked</title>
</head>
<body>

<section layout:fragment="content">
    <div class="row d-flex justify-content-between">
        <div class="col-auto">
            <h1 class="text-primary">Blocked</h1>
        </div>
    </div>
    <hr class="mt-0">
    <h3>Access Denied</h3>
    <p>
        Your access has been blocked due to too many failed login attempts. Try again in one hour.
    </p>
</section>

</body>
</html>
