<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/default}">
<head>
    <title>Book</title>

    <style>
        #pubYear::-webkit-inner-spin-button,
        #pubYear::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
        }

        #pubYear {
            appearance: textfield !important;
        }

        input:invalid {
            border: 2px red;
        }
    </style>
</head>
<body>

<section layout:fragment="content">
    <div class="row d-flex justify-content-between">
        <div class="col-auto">
            <h1 class="text-primary">Browse Records</h1>
        </div>
    </div>
    <hr class="mt-0">
    <p>
        <div class="card mb-3 bg-dark border-0">
            <div class="row g-0">
                <div class="col-lg-2">
                    <img th:src="@{~/uploads/images/{path}(path=${book.image})}" onerror="this.src='/images/PlaceholderCover.png';" class="object-fit-cover w-100 h-100 border border-white border-2">
                </div>
                <div class="col-lg-10">
                    <div class="card-body bg-dark" style="height: 100%">
                        <h5 class="card-title h2 text-white" th:text="${book.title}"></h5>
                        <p class="card-text text-secondary" th:if="${book.series != null}">
                            <b>Series: <span th:text="${book.series}"></span></b>
                        </p>
                        <p class="card-text text-secondary">
                            <b>
                                Author(s):
                                <span th:each="author, iterStat: ${book.authors}">
                                    <b th:text="${author.firstName} + ' ' + ${author.lastName}"></b><span class="text-secondary" th:if="${iterStat.index != book.authors.size() - 1}">, </span>
                                </span>
                            </b>
                        </p>
                        <hr class="mt-0" style="width: 50%">
                        <p class="card-text text-secondary">
                            Genre(s): <span th:text="${book.genre.getLabel()}"></span><span th:if="${book.subgenre != null}" th:text="${', ' + book.subgenre.label}"></span>
                        </p>
                        <p class="card-text text-secondary">
                            Category: <span th:text="${book.category.getLabel()}"></span>
                        </p>
                        <p class="card-text text-secondary">
                            Publisher: <span th:text="${book.publisher}"></span><span th:if="${book.publisher == null}" th:text="Unknown"></span>
                        </p>
                        <p class="card-text text-secondary">
                            Publication Year: <span th:text="${book.pubYear}"></span><span th:if="${book.pubYear == null}" th:text="Unknown"></span>
                        </p>
                        <p class="card-text text-secondary">
                            ISBN: <span th:text="${book.isbn}"></span><span th:if="${book.isbn == null}" th:text="Unknown"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </p>
    <div>
        <hr class="mt-0">
        <p class="card-text">
            <b>Notes:</b> <span th:text="${book.note}"></span></span><span th:if="${book.note == null}" th:text="None"></span>
        </p>
        <p class="card-text">
            <b>Status:</b> <span th:text="Unread" th:if="${!book.complete}"></span><span th:text="Read" th:if="${book.complete}"></span>
        </p>
    </div>
    <hr>
    <div sec:authorize="isAuthenticated()">
        <a th:onclick="'deleteBook(' + ${book.id} + ')'" class="btn btn-secondary py-1 my-1">Delete Book</a>
        <form method="post" th:action="@{/admin/update/{id}/complete(id=${book.id})}">
            <button type="submit" class="btn btn-secondary py-1 my-1" th:if="${!book.complete}">Mark Book As Read</button>
            <button type="submit" class="btn btn-secondary py-1 my-1" th:if="${book.complete}">Mark Book As Unread</button>
        </form>

        <hr>

        Upload cover:
        <form method="post" th:action="@{/admin/add/image/{id}(id=${book.id})}" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="uploadedFile" accept="image/*" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Upload image</button>
        </form>

        <hr>
        Edit book:
        <form action="#" th:action="@{/admin/edit/{id}(id=${book.id})}" th:object="${bookDto}" method="post">
            <div class="container my-2">
                <div class="row">
                    <div class="col">
                        <label for="title">Title</label> <span class="text-danger">(Required)</span>
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
                        <input id="title" type="text" class="form-control" th:field="*{title}" placeholder="Title"
                               required minlength="1" maxlength="60" />
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col">
                        <label for="authors-container">Author(s)</label> <span class="text-danger">(Required)</span>
                        <span th:if="${#fields.hasErrors('authors[0]')}" th:errors="*{authors[0]}" class="text-danger"></span>
                        <div id="authors-container">
                            <div class="author-field"
                                 th:each="author, iterStat : *{authors}">
                                <input type="text"
                                       class="form-control mt-2"
                                       th:field="*{authors[__${iterStat.index}__]}"
                                       placeholder="Lastname, Firstname"
                                       required
                                       pattern=".+,\s*.+" />
                                <button type="button"
                                        class="btn btn-dark mt-2 remove-author-btn"
                                        th:if="${iterStat.index > 0}">
                                    Remove Author
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="col d-flex align-items-end">
                        <button type="button" id="add-author-btn" class="btn btn-secondary">Add Author</button>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col">
                        <label for="publisher">Publisher</label>
                        <span th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}" class="text-danger"></span>
                        <input id="publisher" type="text" th:field="*{publisher}" placeholder="Publisher" class="form-control"
                               maxlength="30" />
                    </div>
                    <div class="col">
                        <label for="isbn">ISBN</label>
                        <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" class="text-danger"></span>
                        <input id="isbn" type="text" th:field="*{isbn}" placeholder="ISBN" class="form-control"
                               pattern="^$|^(?:[0-9A-Za-z]-?){10}$|^(?:[0-9A-Za-z]-?){13}$" />
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col">
                        <label for="series">Series</label>
                        <span th:if="${#fields.hasErrors('series')}" th:errors="*{series}" class="text-danger"></span>
                        <input id="series" type="text" th:field="*{series}" placeholder="Series" class="form-control"
                               maxlength="30" />
                    </div>
                    <div class="col">
                        <label for="note">Library Notes</label>
                        <span th:if="${#fields.hasErrors('note')}" th:errors="*{note}" class="text-danger"></span>
                        <input id="note" type="text" th:field="*{note}" placeholder="Notes" class="form-control"
                               maxlength="500" />
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col">
                        <label for="category">Category</label> <span class="text-danger">(Required)</span>
                        <select id="category" th:field="*{category}" class="form-select">
                            <option th:each="category: ${categories}" th:text="${category.getLabel()}" th:value="${category}">Category</option>
                        </select>
                        <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
                    </div>
                    <div class="col">
                        <label for="pubYear">Publication Year</label>
                        <span th:if="${#fields.hasErrors('pubYear')}" th:errors="*{pubYear}" class="text-danger"></span>
                        <input id="pubYear" type="number" th:field="*{pubYear}" placeholder="Publication Year" class="form-control"
                               min="0" />
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col">
                        <label for="genre">Genre</label> <span class="text-danger">(Required)</span>
                        <select id="genre" th:field="*{genre}" class="form-select">
                            <option th:each="genre: ${genres}" th:text="${genre.getLabel()}" th:value="${genre}">Genre</option>
                        </select>
                        <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>
                    </div>
                    <div class="col">
                        <label for="subgenre">Subgenre</label>
                        <select id="subgenre" th:field="*{subgenre}" class="form-select">
                            <option value="" id="subgenre-placeholder">None</option>
                            <option th:each="subgenre: ${genres}" th:text="${subgenre.getLabel()}" th:value="${subgenre}">Genre</option>
                        </select>
                        <span th:if="${#fields.hasErrors('subgenre')}" th:errors="*{subgenre}"></span>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col d-flex justify-content-center">
                        <input type="submit" value="Submit" class="btn btn-secondary mr-2" />
                        <input type="reset" value="Reset" class="btn btn-dark" />
                    </div>
                </div>
            </div>
        </form>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const container = document.getElementById('authors-container');
            const addBtn = document.getElementById('add-author-btn');

            addBtn.addEventListener('click', function() {
                const index = container.querySelectorAll('.author-field').length;
                const div = document.createElement('div');
                div.className = 'author-field';
                div.innerHTML = `
                    <input type="text"
                           class="form-control mt-2"
                           name="authors[${index}]"
                           placeholder="Lastname, Firstname"
                           required
                           pattern=".+,\\s*.+" />
                    <button type="button" class="btn btn-dark mt-2 remove-author-btn">
                        Remove Author
                    </button>
                `;
                container.appendChild(div);
            });

            container.addEventListener('click', function(e) {
                if (e.target.classList.contains('remove-author-btn')) {
                    e.preventDefault();
                    e.target.parentElement.remove();

                    container.querySelectorAll('.author-field input').forEach((input, i) => {
                        input.setAttribute('name', `authors[${i}]`);
                    });
                }
            });
        });

        const pubYear = document.getElementById('pubYear');
        const currentYear = new Date().getFullYear();
        pubYear.addEventListener("input", (event) => {
            pubYear.setCustomValidity("");
            if (!pubYear.validity.valid) {
                return;
            }
            if (pubYear.value > currentYear) {
                pubYear.setCustomValidity("Year must not be in the future.");
            }
        });

        function deleteBook(id) {
            const token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

            fetch("/admin/book/" + id, {
                method: "DELETE",
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    [header]: token
                }
            }).then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert("Something went wrong!")
                }
            });
        }
    </script>
</section>

</body>
</html>
