<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/default}">
<head>
    <title>Browse</title>
</head>
<body>

<section layout:fragment="content">
    <div class="row d-flex justify-content-between">
        <div class="col-auto">
            <h1 class="text-primary">Browse Records</h1>
        </div>
    </div>
    <hr class="mt-0">
        <div class="container my-4">
            <form action="#" th:action="@{/browse}" method="get" id="filterForm">
                <div class="row g-4 flex-wrap align-items-center">
                    <div class="col-auto d-flex align-items-center justify-content-end">
                        <span>Filter search results:</span>
                    </div>
                    <div class="col-auto col-lg">
                        <select id="genre" name="genre" class="form-select">
                            <option value="" disabled th:selected="${genre == null}">Genre</option>
                            <option th:each="newGenre: ${genres}" th:text="${newGenre.getLabel()}"
                                    th:value="${newGenre}" th:selected="${newGenre == genre}">Genre</option>
                        </select>
                    </div>
                    <div class="col-auto col-lg">
                        <select id="category" name="category" class="form-select">
                            <option value="" disabled th:selected="${category == null}">Category</option>
                            <option th:each="newCategory: ${categories}" th:text="${newCategory.getLabel()}"
                                    th:value="${newCategory}" th:selected="${newCategory == category}">Categories</option>
                        </select>
                    </div>
                    <div class="col-auto d-flex gap-2">
                        <button type="submit" class="btn btn-primary">Apply Filters</button>
                        <a href="/browse" class="btn btn-secondary">Reset Filters</a>
                    </div>
                </div>
            </form>
        </div>
    <hr class="mt-0">
    <div th:if="${bookList.empty}">
        No books to show :(
    </div>

    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 mb-4">
        <div class="col d-flex" th:each="book: ${bookList}">
            <div class="card h-100 flex-fill border-2 border-white bg-dark text-white">
                <div class="row g-0 h-100">
                    <div class="col-4 col-md-3 bg-light border-end border-1">
                        <img th:src="@{~/uploads/images/{path}(path=${book.image})}" onerror="this.src='/images/PlaceholderCover.png';"
                             class="object-fit-cover w-100 h-100">
                    </div>
                    <div class="col d-flex flex-column">
                        <div class="card-body d-flex flex-column">
                            <a th:href="@{/browse/{id}(id=${book.id})}">
                                <h5 class="card-title text-white" th:text="${book.title}"></h5>
                            </a>
                            <p class="card-text text-secondary">
                                <span th:text="${book.series}"></span>
                                &nbsp;
                            </p>
                            <p class="card-text text-secondary">
                                by <b th:text="${book.authors[0].firstName} + ' ' + ${book.authors[0].lastName}"></b>
                            </p>
                            <p class="card-text mt-auto">
                                <b th:text="${book.category.getLabel()}" class="text-secondary"></b>
                                <b class="mx-1">•</b>
                                <b th:text="${book.genre.getLabel()}" class="text-secondary"></b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Reference: https://stackoverflow.com/questions/18490820/spring-thymeleaf-how-to-implement-pagination-for-a-list  -->
    <div class="table-pagination">
        <ul class="pagination justify-content-center">
            <li th:class="${bookList.number eq 0} ? 'disabled' : ''">
                <a th:if="${not bookList.first}" th:href="'/browse?pageNo=' + ${bookList.number - 1}
                        + (${#strings.isEmpty(genre)} ? '' : '&genre=' + ${genre})
                        + (${#strings.isEmpty(category)} ? '' : '&category=' + ${category})">
                    Previous
                </a>
                <a th:if="${bookList.first}">Previous</a>
            </li>
            <li class="mx-2">
                |
            </li>
            <li th:class="${bookList.number + 1 ge bookList.totalPages} ? 'disabled' : ''">
                <a th:if="${not bookList.last}" th:href="'/browse?pageNo=' + ${bookList.number + 1}
                        + (${#strings.isEmpty(genre)} ? '' : '&genre=' + ${genre})
                        + (${#strings.isEmpty(category)} ? '' : '&category=' + ${category})">
                    Next
                </a>
                <a th:if="${bookList.last}">Next</a>
            </li>
        </ul>
    </div>

    <script>
        function deleteBook(id) {
            const token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

            fetch("/admin/book/" + id, {
                method: "DELETE",
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    [header]: token
                }
            }).then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert("Something went wrong!")
                }
            });
        }
    </script>
</section>

</body>
</html>
