<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/default}">
<head>
    <title>Browse</title>
</head>
<body>

<section layout:fragment="content">
    <div class="row d-flex justify-content-between">
        <div class="col-auto">
            <h1 class="text-primary">Browse Records</h1>
        </div>
    </div>
    <hr class="mt-0">
        <div class="container my-4">
            <form action="#" th:action="@{/browse}" method="get" id="filterForm">
                <div class="row">
                    <div class="col d-flex align-items-center justify-content-end">
                        <span>Filter search results:</span>
                    </div>
                    <div class="col">
                        <select id="genre" name="genre" class="form-select">
                            <option value="" disabled th:selected="${genre == null}">Genre</option>
                            <option th:each="newGenre: ${genres}" th:text="${newGenre.getLabel()}"
                                    th:value="${newGenre}" th:selected="${newGenre == genre}">Genre</option>
                        </select>
                    </div>
                    <div class="col">
                        <select id="category" name="category" class="form-select">
                            <option value="" disabled th:selected="${category == null}">Category</option>
                            <option th:each="newCategory: ${categories}" th:text="${newCategory.getLabel()}"
                                    th:value="${newCategory}" th:selected="${newCategory == category}">Categories</option>
                        </select>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary mr-3">Apply Filters</button>
                        <a href="/browse" class="btn btn-secondary">Reset Filters</a>
                    </div>
                </div>
            </form>
        </div>
    <hr class="mt-0">
    <p>
        <div th:if="${bookList.empty}">
            No books to show :(
        </div>

        <div class="card mb-3" th:each="book: ${bookList}">
            <div class="row g-0">
                <div class="col-md-1">
                    <img th:src="@{~/uploads/images/{path}(path=${book.image})}" alt="Image goes here." style="max-width: 100%;">
                </div>
                <div class="col-md-9">
                    <div class="card-body bg-dark">
                        <a th:href="@{/browse/{id}(id=${book.id})}">
                            <h5 class="card-title text-white" th:text="${book.title}"></h5>
                        </a>
                        <p class="card-text text-secondary">
                            <span th:text="${book.series}"></span>
                        </p>
                        <p class="card-text text-secondary">
                            by <b th:text="${book.authors[0].firstName} + ' ' + ${book.authors[0].lastName}"></b>
                        </p>
                        <p class="card-text">
                            <b th:text="${book.category.getLabel()}" class="text-secondary"></b>
                            <b class="mx-1">•</b>
                            <b th:text="${book.genre.getLabel()}" class="text-secondary"></b>
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-body bg-dark justify-content-end" style="height: 100%">
                        <p class="card-text">
                            <b>
                                <span th:text="${book.publisher}" class="text-secondary"></span>
                                <span th:text="${book.pubYear}" class="text-secondary"></span>
                            </b>
                            <br />
                            <b class="text-secondary" style="display: inline-block;" th:if="${book.isbn}">ISBN: </b>
                            <span th:text="${book.isbn}" class="text-secondary"></span>
                            <br />
                            <a sec:authorize="isAuthenticated()" th:onclick="" class="btn btn-secondary py-1 my-1 mr-2">Edit</a>
                            <a sec:authorize="isAuthenticated()" th:onclick="'deleteBook(' + ${book.id} + ')'" class="btn btn-secondary py-1 my-1">Delete</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </p>

    <!--  Reference: https://stackoverflow.com/questions/18490820/spring-thymeleaf-how-to-implement-pagination-for-a-list  -->
    <div class="table-pagination">
        <ul class="pagination justify-content-center">
            <li th:class="${bookList.number eq 0} ? 'disabled' : ''">
                <a th:if="${not bookList.first}" th:href="'/browse?pageNo=' + ${bookList.number - 1}
                        + (${#strings.isEmpty(genre)} ? '' : '&genre=' + ${genre})
                        + (${#strings.isEmpty(category)} ? '' : '&category=' + ${category})">
                    Previous
                </a>
                <a th:if="${bookList.first}">Previous</a>
            </li>
            <li class="mx-2">
                |
            </li>
            <li th:class="${bookList.number + 1 ge bookList.totalPages} ? 'disabled' : ''">
                <a th:if="${not bookList.last}" th:href="'/browse?pageNo=' + ${bookList.number + 1}
                        + (${#strings.isEmpty(genre)} ? '' : '&genre=' + ${genre})
                        + (${#strings.isEmpty(category)} ? '' : '&category=' + ${category})">
                    Next
                </a>
                <a th:if="${bookList.last}">Next</a>
            </li>
        </ul>
    </div>

    <script>
        function deleteBook(id) {
            const token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

            fetch("/admin/book/" + id, {
                method: "DELETE",
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    [header]: token
                }
            }).then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert("Something went wrong!")
                }
            });
        }

    </script>
</section>

</body>
</html>
