<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/default}">
<head>
    <title>Browse</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container mt-3 mb-4" style="max-width: 800px;">
        <form action="#" th:action="@{/browse}" method="get" id="filterForm">
            <div class="d-flex flex-wrap align-items-center gap-2"> Sort By:
                <div class="d-flex gap-2 flex-grow-1">
                    <select id="genre" name="genre" class="form-select flex-shrink-1">
                        <option value="" th:selected="${genre == null}">All Genres</option>
                        <option th:each="newGenre: ${genres}" th:text="${newGenre.getLabel()}"
                                th:value="${newGenre}" th:selected="${newGenre == genre}"></option>
                    </select>
                    <select id="category" name="category" class="form-select flex-shrink-1">
                        <option value="" th:selected="${category == null}">All Categories</option>
                        <option th:each="newCategory: ${categories}" th:text="${newCategory.getLabel()}"
                                th:value="${newCategory}" th:selected="${newCategory == category}"></option>
                    </select>
                    <select id="sortOrder" name="sortOrder" class="form-select flex-shrink-1">
                        <option th:each="newSort: ${sorts}" th:text="${newSort.getLabel()}"
                                th:value="${newSort}" th:selected="${newSort == sortOrder}"></option>
                    </select>
                </div>
                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-primary">Apply</button>
                    <a href="/browse" class="btn btn-secondary">Reset</a>
                </div>
            </div>
        </form>
    </div>

    <hr class="mt-0">

    <div class="row g-4 mb-4" th:if="${bookList.empty}">
        <div class="col d-flex justify-content-center">
            No results :( Try expanding your search parameters.
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 mb-4">
        <div class="col d-flex" th:each="book: ${bookList}">
            <div th:replace="~{fragments/card :: card(book = ${book})}"></div>
        </div>
    </div>

    <!--  Reference: https://stackoverflow.com/questions/18490820/spring-thymeleaf-how-to-implement-pagination-for-a-list  -->
    <div class="table-pagination">
        <ul class="pagination justify-content-center">
            <li th:class="${bookList.number eq 0} ? 'disabled text-decoration-line-through' : ''">
                <a th:if="${not bookList.first}" th:href="'/browse?pageNo=' + ${bookList.number - 1}
                        + (${#strings.isEmpty(genre)} ? '' : '&genre=' + ${genre})
                        + (${#strings.isEmpty(category)} ? '' : '&category=' + ${category})
                        + (${#strings.isEmpty(sortOrder)} ? '' : '&sortOrder=' + ${sortOrder})">
                    Previous
                </a>
                <a th:if="${bookList.first}">Previous</a>
            </li>
            <li class="mx-2">
                |
            </li>
            <li th:class="${bookList.number + 1 ge bookList.totalPages} ? 'disabled text-decoration-line-through' : ''">
                <a th:if="${not bookList.last}" th:href="'/browse?pageNo=' + ${bookList.number + 1}
                        + (${#strings.isEmpty(genre)} ? '' : '&genre=' + ${genre})
                        + (${#strings.isEmpty(category)} ? '' : '&category=' + ${category})
                        + (${#strings.isEmpty(sortOrder)} ? '' : '&sortOrder=' + ${sortOrder})">
                    Next
                </a>
                <a th:if="${bookList.last}">Next</a>
            </li>
        </ul>
    </div>
</section>

</body>
</html>
