<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/default}">
<head>
    <title>Home</title>
</head>
<body>

<section layout:fragment="content">
    <div class="row d-flex justify-content-between">
        <div class="col-auto">
            <h1 class="text-primary">Balamb Garden</h1>
        </div>
    </div>
    <hr class="mt-0">
    <p>
        Welcome to <b>Balamb Garden</b>, the proof of concept demo for <b>Balamb</b>, a web app for book cataloging and tracking. This is the home page.
    </p>
    <p>
        Put some things here like: latest books! Maybe a few randomly selected books? A selection of categories?
    </p>
</section>

</body>
</html>
