<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/default}">
<head>
    <title>Home</title>
</head>
<body>

<section layout:fragment="content">
    <p class="mt-2">
        Welcome to <b>Balamb Garden</b>, a personal book catalogue and hobby webdev project.
        Balamb is a <b>work in progress</b>; check the Updates page to read about recent changes and known issues.
    </p>

    <hr class="mt-0">
    <div th:if="${latestBooks != null and !latestBooks.isEmpty()}">
    <h3>Latest Books</h3>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 mb-4">
        <div class="col d-flex" th:each="book: ${latestBooks}">
            <div th:replace="~{fragments/card :: card(book = ${book})}"></div>
        </div>
    </div>
    </div>

    <hr class="mt-0">

    <div th:if="${randomBooks != null and !randomBooks.isEmpty()}">
    <h3>Random Books</h3>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 mb-4">
        <div class="col d-flex" th:each="book: ${randomBooks}">
            <div th:replace="~{fragments/card :: card(book = ${book})}"></div>
        </div>
    </div>
    </div>

</section>

</body>
</html>
