<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/default}">
<head>
    <title>Home</title>
</head>
<body>

<section layout:fragment="content">
    <div class="row d-flex justify-content-between">
        <div class="col-auto">
            <h1 class="text-primary">Balamb Garden</h1>
        </div>
    </div>
    <hr class="mt-0">
    <p>
        Welcome to <b>Balamb Garden</b>, a personal book catalogue and hobby webdev project. Balamb is a <b>work in progress</b>; check the Updates page to read about recent changes and known issues.
    </p>

    <hr class="mt-0">

    <h3>Latest Books</h3>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 mb-4">
        <div class="col d-flex" th:each="book: ${latestBooks}">
            <div class="card h-100 flex-fill border-2 border-white bg-dark text-white">
                <div class="row g-0 h-100">
                    <div class="col-4 col-md-3 bg-light border-end border-1">
                        <img th:src="@{~/uploads/images/{path}(path=${book.image})}"
                             alt="Image goes here." class="object-fit-cover w-100 h-100">
                    </div>
                    <div class="col d-flex flex-column">
                        <div class="card-body d-flex flex-column">
                            <a th:href="@{/browse/{id}(id=${book.id})}">
                                <h5 class="card-title text-white" th:text="${book.title}"></h5>
                            </a>
                            <p class="card-text text-secondary">
                                <span th:text="${book.series}"></span>
                                &nbsp;
                            </p>
                            <p class="card-text text-secondary">
                                by <b th:text="${book.authors[0].firstName} + ' ' + ${book.authors[0].lastName}"></b>
                            </p>
                            <p class="card-text mt-auto">
                                <b th:text="${book.category.getLabel()}" class="text-secondary"></b>
                                <b class="mx-1">•</b>
                                <b th:text="${book.genre.getLabel()}" class="text-secondary"></b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-0">

    <h3>Random Books</h3>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 mb-4">
        <div class="col d-flex" th:each="book: ${randomBooks}">
            <div class="card h-100 flex-fill border-2 border-white bg-dark text-white">
                <div class="row g-0 h-100">
                    <div class="col-4 col-md-3 bg-light border-end border-1">
                        <img th:src="@{~/uploads/images/{path}(path=${book.image})}"
                             alt="Image goes here." class="object-fit-cover w-100 h-100">
                    </div>
                    <div class="col d-flex flex-column">
                        <div class="card-body d-flex flex-column">
                            <a th:href="@{/browse/{id}(id=${book.id})}">
                                <h5 class="card-title text-white" th:text="${book.title}"></h5>
                            </a>
                            <p class="card-text text-secondary">
                                <span th:text="${book.series}"></span>
                                &nbsp;
                            </p>
                            <p class="card-text text-secondary">
                                by <b th:text="${book.authors[0].firstName} + ' ' + ${book.authors[0].lastName}"></b>
                            </p>
                            <p class="card-text mt-auto">
                                <b th:text="${book.category.getLabel()}" class="text-secondary"></b>
                                <b class="mx-1">•</b>
                                <b th:text="${book.genre.getLabel()}" class="text-secondary"></b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>
