<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/default}">
<head>
    <title>Login</title>
</head>
<body>

<section layout:fragment="content">
    <div class="d-flex flex-column align-items-center">
        <div class="mt-2 mb-1" th:if="${param.error}">
            Invalid username and password. Please try again.
        </div>
        <div class="mt-2 mb-1" th:if="${param.logout}">
            You have been logged out. You may log in again below.
        </div>
        <div class="mt-2">
            <form th:action="@{/login}" method="post">
                <label for="emailInput">Email</label>
                <input type="text" class="form-control" id="emailInput" name="email">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" name="password">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-m mt-2">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</section>

</body>
</html>
