<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/default}">
<head>
    <title>Error</title>
</head>
<body>

<section layout:fragment="content">

    <div class="container d-flex justify-content-center mt-3">
        <div class="row row-cols-1 g-4 mb-4 col-lg-11">
            <div class="card flex-fill text-white shadow" style="--bs-card-bg: #2b3035;">
                <div class="card-body">
                    <h3 class="mt-2">Something went wrong :(</h3>
                    <p>
                        Either your request was malformed in some way or you tried to do something you shouldn't have.
                    </p>
                    <p>
                        If you think this is the result of a bug, please let me know on <a href="https://github.com/cosmo-memories/balamb/issues">GitHub</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>
