<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/default}">
<head>
    <title>Error</title>
</head>
<body>

<section layout:fragment="content">
    <div class="row d-flex justify-content-between">
        <div class="col-auto">
            <h1 class="text-primary">Error</h1>
        </div>
    </div>
    <hr class="mt-0">
    <h3>Something went wrong :(</h3>
    <p>
        Either your request was malformed in some way or you tried to do something you shouldn't have.
    </p>
    <p>
        If you think this is the result of a bug, please let me know on <a href="https://github.com/cosmo-memories/balamb/issues">GitHub</a>.
    </p>
</section>

</body>
</html>
